{% extends 'base.html' %}
{% load django_markdown %}
{% block content %}

    {% if posts %}
        {% for post in posts %}
            <div class="post-content col-lg-15">
                {% ifchanged %}
                <div class="main-content col-lg-10 col-lg-offset-3 date">
                    {{ post.created|date:"F d, Y" }}
                </div>
                {% endifchanged %}

                <div class="side-content source col-lg-3">
                    {% if post.source %}
                        <span class="title">Source</span>
                        <a href={{ post.source.link }}>{{ post.source.name }}</a>
                    {% endif %}
                </div>

                <div class="main-content col-lg-10">
                    <span class="title"><h1><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1></span>
                    {{ post.body|markdown }}
                    <br />
                    {{ post.category }}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="col-lg-10">There are no posts.</p>
    {% endif %}

{% endblock %}