body {
  color: #152241; }

.header {
  height: 100px;
  background-color: #152241; }
  .header ul {
    display: table;
    width: 100%; }
    .header ul li {
      display: inline-block;
      text-align: center; }
      .header ul li a {
        text-decoration: none;
        color: #fff; }
      .header ul li a:hover {
        text-decoration: underline; }
